<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- NOTE formGroup tells angular to use this form rather than create one -->
      <!-- NOTE not necessary to pass a reference back to TS file since form was created inside TS file -->
      <!-- NOTE reactive approach doesn't configure the form in the template, it only synchronizes it with directives (i.e. formControlName, formGroup, etc.); as a result, don't use directives such as 'required' in the template -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control">
              <!-- NOTE get method provides easy access to controls; also accepts a path as an argument for nested forms -->
              <span
                *ngIf="!signupForm.get('userData.username').valid && signupForm.get('userData.username').touched"
                class="help-block">Please enter a valid username!</span>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control">
              <span
                *ngIf="!signupForm.get('userData.email').valid && signupForm.get('userData.email').touched"
                class="help-block">Please enter a valid email!</span>
          </div>
        </div>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input
              type="radio"
              [value]="gender"
              formControlName="gender">{{ gender }}
          </label>
        </div>
        <div>
          <div formArrayName="hobbies">
            <h4>Your Hobbies</h4>
            <button
              class="btn btn-default"
              type="button"
              (click)="onAddHobby()">Add Hobby</button>
            <div
              class="form-group"
              *ngFor="let hobbyControl of signupForm.get('hobbies').controls; let i = index ">
              <input
                type="text"
                class="form-control"
                [formControlName]="i">
            </div>
          </div>
        </div>
        <span
          *ngIf="!signupForm.valid && signupForm.touched"
          class="help-block">Please enter valid data!</span>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
